<html>
<head>
    <LINK href="Redz_z13.css" rel="stylesheet" type="text/CSS">
    <style>
        a {
            color: red;
            font-weight: bold;
            font-size: 49;
        }
p {
  text-align: center;
  color: yellow;
  font-size: 39;
} 
    </style>
</head>
    
<body>
<p><a href="/" target="_blank">:) -usmiechnieta buzia</a></p>
<p>:( -smutna buzia</p>
<p><a href="/" target="_blank">:o -zaskoczenie</a></p>
<p>;) -mrugniecie</p>
<p><a href="/" target="_blank">:| -brak uczuc</a></p>
<p>:/ - niezdecydowanie</p>
</body>
</html>
