#pogrubienie_Redzimski{
    font-size: 34px;
    color: #9C5AD0;
}
#pochylona_Redzimski{
    font-size: 39px;
    color: #100BE6C;
}
#index_gorny_Redzimski{
    font-size: 1,4cm;
    color: #B0F01C;
}
#index_dolny_Redzimski{
    font-size: 2,3cm;
    color: #4CF0E4;
}
#mono_Redzimski{
    font-size: 414x;
    color: #30DC6C;
}
#powiekszenie_Redzimski{
    color: #6A3CB5;
}
#pomniejszenie_Redzimski{
    color: rgb(206, 160, 58);
}