span{
    color: green;
    font-size: 2.5cm;
}
p{
    color: red;
    font-size: 4cm;
}
div{
    background-color: silver;
}
#r{
    color: rgb(128, 0, 128);
}
#g{
    color: rgb(255, 192, 203);
}
#b{
    color: rgb(173, 216, 230);
}