#q{
    color: red;
    font-size: 22pt;
}
#gruby_Redzimski{
color: green;
font-size: 17pt;
font-weight: bold;
}
#dlawszytskich_Redzimski{
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}